In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv('../data/serie_a_matches_cleaned.csv')
league_table = pd.read_csv('../data/serie_a_league_table.csv')

In [3]:
matches.head()

,id,status,matchday,homeTeam,awayTeam,date_month,time_hour,ft_home,ft_away,ht_home,ht_away,winner
0,503046,FINISHED,1,Genoa,Inter,8,16,2.0,2.0,1.0,1.0,1
1,503052,FINISHED,1,Parma,Fiorentina,8,16,1.0,1.0,1.0,0.0,1
2,503045,FINISHED,1,Empoli,Monza,8,18,0.0,0.0,0.0,0.0,1
3,503051,FINISHED,1,Milan,Torino,8,18,2.0,2.0,0.0,1.0,1
4,503043,FINISHED,1,Bologna,Udinese,8,16,1.0,1.0,0.0,0.0,1

In [5]:
X = matches.drop('winner',axis=1)
y = matches['winner']

In [6]:
X_train = X[X['matchday'].isin(range(1,19))]

In [7]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180 entries, 0 to 179
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          180 non-null    int64
 1   status      180 non-null    object
 2   matchday    180 non-null    int64
 3   homeTeam    180 non-null    object
 4   awayTeam    180 non-null    object
 5   date_month  180 non-null    int64
 6   time_hour   180 non-null    int64
 7   ft_home     179 non-null    float64
 8   ft_away     179 non-null    float64
 9   ht_home     178 non-null    float64
 10  ht_away     178 non-null    float64
dtypes: float64(4), int64(4), object(3)
memory usage: 16.9+ KB