In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv('../data/serie_a_matches_cleaned.csv')
league_table = pd.read_csv('../data/serie_a_league_table.csv')

In [3]:
matches.head()

,id,status,matchday,homeTeam,awayTeam,date_month,time_hour,ft_home,ft_away,ht_home,ht_away,winner
0,503046,FINISHED,1,Genoa,Inter,8,16,2.0,2.0,1.0,1.0,1
1,503052,FINISHED,1,Parma,Fiorentina,8,16,1.0,1.0,1.0,0.0,1
2,503045,FINISHED,1,Empoli,Monza,8,18,0.0,0.0,0.0,0.0,1
3,503051,FINISHED,1,Milan,Torino,8,18,2.0,2.0,0.0,1.0,1
4,503043,FINISHED,1,Bologna,Udinese,8,16,1.0,1.0,0.0,0.0,1

In [12]:
train_matches = matches[matches['matchday'].isin(range(1,20))]
test_matches = matches[matches['matchday'].isin(range(20,39))]

In [14]:
X_train = train_matches.drop('winner', axis=1)
y_train = train_matches['winner']

In [20]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 0 to 199
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          190 non-null    int64
 1   status      190 non-null    object
 2   matchday    190 non-null    int64
 3   homeTeam    190 non-null    object
 4   awayTeam    190 non-null    object
 5   date_month  190 non-null    int64
 6   time_hour   190 non-null    int64
 7   ft_home     186 non-null    float64
 8   ft_away     186 non-null    float64
 9   ht_home     185 non-null    float64
 10  ht_away     185 non-null    float64
dtypes: float64(4), int64(4), object(3)
memory usage: 21.9+ KB

In [22]:
X_train['ft_home'].fillna(X_train['ft_home'].mean(), inplace=True)
X_train['ft_away'].fillna(X_train['ft_away'].mean(), inplace=True)
X_train['ht_home'].fillna(X_train['ht_home'].mean(), inplace=True)
X_train['ht_away'].fillna(X_train['ht_away'].mean(), inplace=True)

/var/folders/8h/b6sjd9l522v8k4p6t77m8fpm0000gn/T/ipykernel_5507/172246692.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['ft_home'].fillna(X_train['ft_home'].mean(), inplace=True)
/var/folders/8h/b6sjd9l522v8k4p6t77m8fpm0000gn/T/ipykernel_5507/172246692.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['ft_away'].fillna(X_train['ft_away'].mean(), inplace=True)
/var/folders/8h/b6sjd9l522v8k4p6t77m8fpm0000gn/T/ipykernel_5507/172246692.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['ht_home'].fillna(X_train['ht_home'].mean(), inplace=True)
/var/folders/8h/b6sjd9l522v8k4p6t77m8fpm0000gn/T/ipykernel_5507/172246692.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['ht_away'].fillna(X_train['ht_away'].mean(), inplace=True)

In [23]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 0 to 199
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          190 non-null    int64
 1   status      190 non-null    object
 2   matchday    190 non-null    int64
 3   homeTeam    190 non-null    object
 4   awayTeam    190 non-null    object
 5   date_month  190 non-null    int64
 6   time_hour   190 non-null    int64
 7   ft_home     190 non-null    float64
 8   ft_away     190 non-null    float64
 9   ht_home     190 non-null    float64
 10  ht_away     190 non-null    float64
dtypes: float64(4), int64(4), object(3)
memory usage: 21.9+ KB

In [21]:
y_train.info()

<class 'pandas.core.series.Series'>
Index: 190 entries, 0 to 199
Series name: winner
Non-Null Count  Dtype
--------------  -----
190 non-null    int64
dtypes: int64(1)
memory usage: 7.0 KB

In [15]:
X_test = test_matches.drop(['winner', 'status'], axis=1)

In [18]:
X_test.head()

,id,status,matchday,homeTeam,awayTeam,date_month,time_hour,ft_home,ft_away,ht_home,ht_away
187,503236,TIMED,20,Lazio,Como 1907,1,19,NaN,NaN,NaN,NaN
188,503234,TIMED,20,Empoli,Lecce,1,14,NaN,NaN,NaN,NaN
189,503241,TIMED,20,Udinese,Atalanta,1,14,NaN,NaN,NaN,NaN
190,503240,TIMED,20,Torino,Juventus,1,17,NaN,NaN,NaN,NaN
191,503237,TIMED,20,Milan,Cagliari,1,19,NaN,NaN,NaN,NaN

In [19]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 187 to 379
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          190 non-null    int64
 1   status      190 non-null    object
 2   matchday    190 non-null    int64
 3   homeTeam    190 non-null    object
 4   awayTeam    190 non-null    object
 5   date_month  190 non-null    int64
 6   time_hour   190 non-null    int64
 7   ft_home     0 non-null      float64
 8   ft_away     0 non-null      float64
 9   ht_home     0 non-null      float64
 10  ht_away     0 non-null      float64
dtypes: float64(4), int64(4), object(3)
memory usage: 17.8+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder